<?xml version="1.0" encoding="utf-8" ?>
<Categories>
  <Category Name="Ignore" Color="White" Description="Ignored">
    <Warning>MSB3026</Warning>
  </Category>
  <Category Color="Blue" Description="Use of obsolete classes/methods">
    <Warning>CS0618</Warning>  
  </Category>
  <Category Color="Magenta" Description="Missing or incomplete documentation">
    <Warning>CS1570</Warning>
    <Warning>CS1572</Warning>
    <Warning>CS1573</Warning>
    <Warning>CS1574</Warning>
    <Warning>CS1584</Warning>
    <Warning>CS1591</Warning>
    <Warning>CS1711</Warning>
    <Warning>CS1734</Warning>    
  </Category>
</Categories>